<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href= "https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css" type="text/css">

    <title>Random Quote Machine</title>
</head>
<body>
    <main id="quote-box">
        <blockquote id="text">
            <p><i class="fa fa-quote-left"></i> It’s not the years in your life that count. It’s the life in your years. <i class="fa fa-quote-right"></i></p>
            <p id="author">-Mark</p>
        </blockquote>
        <div class="buttons">
            <a href="twitter.com/intent/tweet" id="tweet-quote" target="_blank"><i class="fa fa-twitter-square"></i></a>
            <button id="new-quote">New Quote</button>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/5212ebd62d.js" crossorigin="anonymous"></script>
    <script src="../index.js"></script>
</body>
</html>